<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Toll Passages - Prolasci</title>
</head>
<body>
<div class="page">
<h1>Prolasci preko NP</h1>

<a th:href="@{/passages/new}">Dodaj novi prolazak</a>
<br>
    <br>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Vrijeme prolaska</th>
        <th>Autocesta</th>
        <th>Naplatna postaja</th>
        <th>Registracija</th>
        <th>Marka</th>
        <th>Akcije</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="passage : ${passages}">
        <td th:text="${passage.id}"></td>
        <td th:text="${#temporals.format(passage.passageTime, 'dd.MM.yyyy HH:mm')}"></td>
        <td th:text="${passage.tollbooth.road.oznaka}"></td>
        <td th:text="${passage.tollbooth.ime}"></td>
        <td th:text="${passage.car.registracija}"></td>
        <td th:text="${passage.car.marka}"></td>
        <td>
            <form th:action="@{/passages/delete/{id}(id=${passage.id})}" method="post">
                <button type="submit" class="delete-button">X</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>

<a th:href="@{/}">Natrag</a>
</div>
</body>
</html>