<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dodaj cestu</title>
</head>
<body>

<h1>Add Road</h1>

<form th:action="@{/roads}" th:object="${roadDTO}" method="post">

    <label>Oznaka:</label>
    <select th:field="*{oznaka}">
        <option value="">ODABERI AUTOCESTU (kada se izgradi nova)</option>
        <option th:each="oznaka : ${oznake}"
                th:value="${oznaka}"
                th:text="${oznaka}">
        </option>
    </select>

    <br><br>

    <label>Ime:</label>
    <input type="text" th:field="*{ime}" placeholder="npr. Zagreb-Split-Dubrovnik">

    <br><br>

    <button type="submit">Save</button>
</form>

<br>

<a th:href="@{/roads}">Back to roads</a>

</body>
</html>