<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Roads - Autoceste</title>
</head>
<body>

<div class="page road-page">

    <div>
        <h1>Autoceste</h1>

        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Oznaka</th>
                <th>Ime</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="road : ${roads}">
                <td th:text="${road.id}"></td>
                <td th:text="${road.oznaka}"></td>
                <td th:text="${road.ime}"></td>
            </tr>
            </tbody>
        </table>

        <br>

        <a th:href="@{/}">Natrag</a>
    </div>

    <img class="road-map" th:src="@{/images/MapaAutoceste.png}" alt="Mapa autoceste">

</div>

</body>
</html>