<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Car</title>
</head>
<body>

<h1>Add Car</h1>

<form th:action="@{/cars}" th:object="${carDTO}" method="post">

    <label>Marka:</label>
    <input type="text" th:field="*{marka}">

    <br><br>

    <label>Registracija:</label>
    <input type="text"
           th:field="*{registracija}"
           placeholder="ZG-123-AB ili ZG-1234-AA"
           maxlength="12">

    <p th:if="${#fields.hasErrors('registracija')}"
       th:errors="*{registracija}">
    </p>

    <br><br>

    <label>Boja:</label>
    <input type="text" th:field="*{boja}">

    <br><br>

    <button type="submit">Save</button>
</form>

<br>

<a th:href="@{/cars}">Back to cars</a>

</body>
</html>