<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Add Car - Dodaj auto</title>
</head>
<body>

<div class="page">
<h1>Dodaj auto</h1>

<form th:action="@{/cars}" th:object="${carDTO}" method="post">

    <label>Marka:</label>
    <input type="text" th:field="*{marka}">

    <br><br>

    <label>Registracija (koristi VELIKA slova):</label>
    <input type="text"
           th:field="*{registracija}"
           placeholder="npr. ZG-123-AB | ZG-1234-AA"
           maxlength="12">

    <p th:if="${#fields.hasErrors('registracija')}"
       th:errors="*{registracija}">
    </p>

    <br><br>

    <label>Boja:</label>
    <input type="text" th:field="*{boja}">

    <br><br>

    <button type="submit">Spremi</button>
</form>

<br>

<a th:href="@{/cars}">Natrag na aute</a>
</div>
</body>
</html>