<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cars</title>
</head>
<body>

<h1>Cars</h1>

<a th:href="@{/cars/new}">Add new car</a>
<br>
<p th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></p>
<br>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Marka</th>
        <th>Registracija</th>
        <th>Boja</th>
        <th>Akcije</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.id}"></td>
        <td th:text="${car.marka}"></td>
        <td th:text="${car.registracija}"></td>
        <td th:text="${car.boja}"></td>
        <td>
            <form th:action="@{/cars/delete/{id}(id=${car.id})}" method="post">
                <button type="submit">X</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>

<a th:href="@{/}">Back to home</a>

</body>
</html>