<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <title>Tollbooths - NP</title>
</head>
<body>

<div class="page">

    <h1>Sve naplatne postaje (NP) po autocestama</h1>

    <a th:href="@{/}">Natrag</a>

    <div class="tollbooth-grid">

        <div class="tollbooth-card" th:each="road : ${roads}">

            <h2 th:text="${road}"></h2>

            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Ime NP</th>
                    <th>Cesta</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="t : ${tollbooths}"
                    th:if="${t.road.oznaka == road}">
                    <td th:text="${t.id}"></td>
                    <td th:text="${t.ime}"></td>
                    <td th:text="${t.road.oznaka}"></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>

    <br>

    <a th:href="@{/}">Natrag</a>

</div>

</body>
</html>